.game__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.question__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1050px;
  z-index: 2;
}

.trivia__game__img {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  height: 198.18px;
  margin: 20px 0;
  perspective: 500px;
  transform: translate3d(0, 0, 0, 0);
  width: 197.09px;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.header__question {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  position: relative;
}

.question__category {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 366px;
  width: 439px;
}


.question__category .div__question {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  width: 100%;

}

.question_answers_div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.question_answers {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.btn__answers {
  align-items: center;
  background: #fff;
  border: 1px solid #ea5d5d;
  border-radius: 100px;
  display: flex;
  height: 64px;
  justify-content: center;
  margin-bottom: 10px;
  width: 519px;
}

.question__title {
  align-items: center;
  background: #f9ba18;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  height: 45px;
  justify-content: center;
  position: absolute;
  width: 413px;
}

.question__timer {
  align-items: flex-end;
  color: #ea5d5d;
  display: flex;
  font-family: Verdana;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 350px;
  justify-content: center;

  /* or 24px */
  letter-spacing: 0.12em;
  line-height: 150%;
  position: absolute;
}

.question__timer div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.question__timer div img {
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

.btn__next {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: bolder;
  height: 45px;
  left: 661px;
  margin-top: 20px;
  top: 575px;
  width: 519px;
}

.div__options {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 220px;
}

.div__next__button {
  height: 50px;
}

footer {
  background: #3c1b7a;
  height: 40vh;
  left: 0;
  position: relative;
  top: 557px;
  width: 100%;
}
