.header__container {
  background: #fff;
  display: flex;
  height: 113px;
  position: absolute;
  width: 100%;
}

.header__user__info .header__points {
  height: 30px;
  width: 30px;
}

.empty__div {
  display: flex;
  flex-basis: 50%;
}

.header__user__info {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
}

.header__user__info .settings__button {
  color: #b5b5b5;
  height: 30px;
  margin: 0;
  width: 30px;
}

.header__user__info div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__user__info img {
  border-radius: 18.1373px;
  height: 37px;
  margin-right: 5px;
  width: 37px;
}
