* {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/background.png);
  background-size: cover;
}

#root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.main__login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__login img {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  perspective: 500px;
  transform: translate3d(0, 0, 0, 0);
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.form__container {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 266px;
  justify-content: center;
  left: 333px;
  margin-top: 10px;
  top: 316px;
  width: 614px;
}

.form__container input {
  align-items: flex-start;

  /* white */
  background: #fff;

  /* gray 300 */
  border: 1px solid #e1e5eb;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  height: 45px;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 499px;
}

.form__container button {
  align-items: center;
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #e1e5eb;
  display: flex;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  width: 519px;
}

.form__container button:disabled {
  background: #858585;
}

.settings__button {
  color: #2fc18c;
  height: 50px;
  margin-top: 20px;
  width: 50px;
}
